<section class="home-section">
  <article class="home-section-image">
    <img src="../../../../assets/tv-shows.jpg" alt="TV Shows collage">
  </article>

  <article class="home-section-text">
    <p class="text">
      If you are a real tv shows fan this is the right place for you!
    </p>
    <p class="about">
        You want to find more about our site? Check our<a routerLink='/about'>About</a> section.
    </p>
    <p class="login">You already have an account? <a href="#">Log in</a></p>
    <p class="register">You want to be part of our community? <a href="#">Register</a></p>
  </article>
</section>
