<section #sidenav class="hidden-navigation" color="secondary">
  <p class="hidden-navigation-close">X</p>
  <nav>
    <ul class="hidden-navigation-buttons">
      <li routerLink='/home'>Home</li>
      <li routerLink='/about'>About</li>
      <li>TV Shows</li>
      <li>Users</li>
      <li>Profile</li>
      <li>Register</li>
      <li>Login</li>
      <li>Logout</li>
    </ul>
  </nav>
</section>


<mat-toolbar class="header-navigation" color="secondary">
  <mat-icon>menu</mat-icon>
  <p class="navigation-logo">
    <a routerLink='/home'>TV Shows Fan</a>
  </p>
  <nav>
    <ul class="navigation-buttons">
      <li><a mat-button routerLink='/about'>About</a></li>
      <li><a mat-button href="#">TV Shows</a></li>
      <li><a mat-button href="#">Users</a></li>
      <li><a mat-button href="#">Profile</a></li>
      <li><a mat-button href="#">Register</a></li>
      <li><a mat-button href="#">Login</a></li>
      <li><a mat-button href="#">Logout</a></li>
    </ul>
  </nav>
</mat-toolbar>
