<section #sideNav class="hidden-navigation" color="secondary">
  <p class="hidden-navigation-close">X</p>
  <nav>
    <ul class="hidden-navigation-buttons">
      <li routerLink='/home'>Home</li>
      <li *ngIf="!isLogged" routerLink='/about'>About</li>
      <li *ngIf="isLogged">TV Shows</li>
      <li *ngIf="isAdmin">Users</li>
      <li *ngIf="isLogged && !isAdmin">Profile</li>
      <li *ngIf="!isLogged" routerLink="/register">Register</li>
      <li *ngIf="!isLogged" routerLink="/login">Login</li>
      <li *ngIf="isLogged" (click)="logoutHandler()">Logout</li>
    </ul>
  </nav>
</section>


<mat-toolbar class="header-navigation" color="secondary">
  <mat-icon>menu</mat-icon>
  <p class="navigation-logo">
    <a routerLink='/home'>TV Shows Fan</a>
  </p>
  <nav>
    <ul class="navigation-buttons">
      <li *ngIf="!isLogged"><a mat-button routerLink='/about'>About</a></li>
      <li *ngIf="isLogged"><a mat-button href="#">TV Shows</a></li>
      <li *ngIf="isAdmin"><a mat-button href="#">Users</a></li>
      <li *ngIf="isLogged && !isAdmin"><a mat-button href="#">Profile</a></li>
      <li *ngIf="!isLogged"><a mat-button routerLink="/register">Register</a></li>
      <li *ngIf="!isLogged"><a mat-button routerLink="/login">Login</a></li>
      <li *ngIf="isLogged"><a mat-button (click)="logoutHandler()">Logout</a></li>
    </ul>
  </nav>
</mat-toolbar>
