<mat-toolbar class="header" color="secondary">
  <mat-toolbar-row class="navigation">
    <p class="navigation-logo">
      <a href="#">TV Shows Fan</a>
    </p>
    <nav>
      <ul class="navigation-buttons">
        <li><a mat-button href="#">About</a></li>
        <li><a mat-button href="#">TV Shows</a></li>
        <li><a mat-button href="#">Users</a></li>
        <li><a mat-button href="#">Profile</a></li>
        <li><a mat-button href="#">Register</a></li>
        <li><a mat-button href="#">Login</a></li>
        <li><a mat-button href="#">Logout</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
