<section class="login-section">

  <h1>Login</h1>

  <form [formGroup]="form" (ngSubmit)="login()">

    <p>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput type="text" placeholder="Your username...">
        <mat-hint>Enter a valid username.</mat-hint>
        <mat-error *ngIf="form.get('username').hasError('required')">Username is required.</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="Your password...">
        <mat-hint>Enter a valid password.</mat-hint>
        <mat-error *ngIf="form.get('password').hasError('required')">Password is required.</mat-error>
      </mat-form-field>
    </p>

    <button [disabled]="form.invalid" mat-raised-button type="submit" class="btn btn-login">Log in</button>
  </form>
</section>
