<section class="search-section">
  <p *ngIf="isAdmin" class="button-holder"><a href="#">Add new TV show</a></p>

  <p class="component-holder">
    <app-tv-shows-search class="search-component" [page]="page" (loading)="showLoading($event)"
      (tvshows)="getTVShows($event)">
    </app-tv-shows-search>
  </p>
</section>

<section class="tvshow-cards-section">

  <ng-template #tvshowsList>

    <ng-template #list>
      <p class="card-holder" *ngFor="let tvshow of tvshows| paginate: {
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: totalTVShows
    }">
        <a routerLink="tvshow.objectId">
          <app-tv-shows-item [tvshow]="tvshow"></app-tv-shows-item>
        </a>
      </p>
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </ng-template>

    <ng-template #noList>
      <section class="noList">
        <h1>No TV Shows to display!</h1>
      </section>
    </ng-template>

    <ng-container *ngTemplateOutlet="tvshows ? list : noList"></ng-container>

  </ng-template>

  <ng-template #loader>
    <section class="loader">
      <app-loader></app-loader>
    </section>
  </ng-template>

  <ng-container *ngTemplateOutlet="loading ? loader : tvshowsList"></ng-container>



</section>
