form {
  padding: 20px;
  width: 600px;
}

.register-section {
  width: 60%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px){
  .register-section {
    width: 80%;
  }
}

::placeholder,
.mat-hint {
  color: wheat;
}

/* default and hover outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  color: rgb(250, 221, 248);
}

.mat-form-field {
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.btn-holder{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn.btn-register {
  background-color: rgb(114, 48, 175);
  color: wheat;
  letter-spacing: 1.2px;
  box-shadow: inset -5px -5px 10px 0px rgba(65, 40, 58, 0.75);
  cursor: pointer;
}

.btn.btn-register:hover {
  background-color: rgb(214, 186, 240);
  color: rgb(0, 0, 0);
}

.btn.btn-register:disabled{
  background-color: rgb(196, 196, 196);
  color: rgb(97, 97, 97);
}
