<mat-card class="comment-card">
  <mat-card-title class="card-title">
    <span>{{comment.fromUser}}</span>
    <span>{{comment.created | date : "MM/dd/yyyy"}}</span>
  </mat-card-title>
  <mat-card-content class="card-content">
    {{comment.text}}
  </mat-card-content>
  <mat-card-actions class="card-buttons">
    <section class="vote-buttons">
      <button mat-icon-button [matBadge]="comment.likes" matBadgePosition="after" matBadgeColor="primary" [disabled]="isVotedComment || isAdmin" (click)="upVoteComment()">
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <button mat-icon-button [matBadge]="comment.dislikes" matBadgePosition="after" matBadgeColor="warn" [disabled]="isVotedComment || isAdmin" (click)="downVoteComment()">
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
    </section>
    <section class="delete-button">
      <button *ngIf="isOwner" mat-raised-button class="btn btn-delete" (click)="deleteComment()">Delete comment</button>
    </section>
  </mat-card-actions>
</mat-card>
