.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.comment-card{
    margin-bottom: 20px;
}

.card-content{
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.btn-delete{
    background-color: rgb(105, 86, 86);
    color: white;
}

.btn.btn-delete:hover{
    background-color: rgb(197, 67, 67);
    color: white;
}