<section class="users-list">
  <h1>TV Shows Fan - users</h1>

  <ng-template #tableBody>
    <table cellspacing="0">
      <thead>
        <tr class="table-header">
          <th>Username</th>
          <th>Email</th>
          <th>Fan of</th>
          <th>Number comments</th>
          <th>Allow/Ban commenting</th>
        </tr>
      </thead>

      <tbody class="table-body">
        <tr class="table-row" *ngFor="let user of users | paginate: {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: totalUsers
          }">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>
            <article class="chip-holder" *ngFor="let show of user.fanOf">
              <p class="chip">{{show}}</p>
            </article>
          </td>
          <td><app-user-comments-count [userId]="user.userID"></app-user-comments-count></td>
          <td *ngIf="!user.isAllowedCommenting"><button mat-raised-button color="primary" (click)="toggleBan(user.userID, true)">Allow commenting</button></td>
          <td *ngIf="user.isAllowedCommenting"><button mat-raised-button color="warn" (click)="toggleBan(user.userID, false)">Ban commenting</button></td>
        </tr>
      </tbody>
    </table>
    <p class="pageing">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </p>
  </ng-template>

  <ng-template #loader>
    <p class="loader-holder">
      <mat-spinner></mat-spinner>
    </p>
  </ng-template>

  <ng-container *ngTemplateOutlet="loading ? loader : tableBody"></ng-container>
</section>
