<section class="users-list">
  <h1>TV Shows Fan - users</h1>

  <ng-template #tableBody>
    <table class="user-list" cellspacing="0">
      <thead>
        <tr class="table-header">
          <th>Username</th>
          <th>Email</th>
          <th>Fan of</th>
          <th>Number comments</th>
          <th>Allow/Ban commenting</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let user of users | paginate: {
          itemsPerPage: pageSize,
          currentPage: page,
          totalItems: totalUsers
        }">
          <tr class="table-row" app-user-list-item [user]="user"></tr>
        </ng-container>
      </tbody>

    </table>

    <p class="paging">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </p>
  </ng-template>

  <ng-template #loader>
    <p class="loader-holder">
      <mat-spinner></mat-spinner>
    </p>
  </ng-template>

  <ng-container *ngTemplateOutlet="loading ? loader : tableBody"></ng-container>
</section>
