<ng-template #button>
  <button *ngIf="!isAdmin" class="btn btn-comment" (click)="openDialog()" mat-raised-button
    [disabled]="!isFan">Comment</button>
</ng-template>

<ng-template #text>
  <article class="text-ban">
    <h1>You are not allowed to comment!</h1>
  </article>
</ng-template>

<ng-container *ngTemplateOutlet="(userCommentStatus$ | async) ? button : text"></ng-container>

<section class="comments-list">
  <ng-template #commentsList>
    <ng-container *ngIf="comments.length > 0">

      <section  class="card-holder" *ngFor="let comment of comments | paginate: {
      itemsPerPage: pageSize,
      currentPage: page,
      totalItems: commentsCount$ | async
    }">
        <app-comments-item [comment]="comment" [likedComments$]="likedComments$" (deleted)="deleteComment($event)">
        </app-comments-item>
      </section>

      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>


    </ng-container>
  </ng-template>

  <ng-template #loader>
    <p class="loader-holder">
      <mat-spinner></mat-spinner>
    </p>
  </ng-template>

  <ng-container *ngTemplateOutlet="(tvshowID && !loading) ? commentsList : loader"></ng-container>

</section>
