.btn.btn-comment{
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
}

.btn.btn-comment:not(:disabled):hover{
    background-color: rgb(20, 160, 113);
    color: white;
}

.text-ban{
    text-align: center;
}

.loader-holder{
    width: 20%;
    margin: 100px auto;
}

.comments-list{
    width: 100%;
    margin: 30px auto;
}