::ng-deep .mat-form-field-label {
  color: rgb(250, 221, 248) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(250, 221, 248) !important;
}

::ng-deep.mat-form-field-appearance-standard .mat-form-field-ripple {
  background-color: rgb(250, 221, 248) !important;
}

::ng-deep.mat-form-field-underline {
  background-color: rgb(250, 221, 248) !important;
}

::placeholder,
.mat-hint {
  color: aquamarine;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.input-field{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 18px;
}
